<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-7">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>Reservation Screen</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css3?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">  
  <link href="../../styles/reservation.css" rel="stylesheet" type="text/css">
 
</head>