<%- include('../partials/reservation-head', {title: 'Reservations', type: 'Client'}) %>

<body>
    <div class="navbar">
      <a class="brand" href="/home">KennelLink Client</a>
      <a href="/client_reservations">Reservations</a>
      <a href="#pets">Pets</a>
      <a href="#transactions">Transactions</a>
    </div>
  
    <div class="container">
      <h2>Reservation Screen</h2>
      <a href="#" class="button">Search My Reservations</a>
      <a href="#" class="button">Add a New Reservation</a>
      <a href="#" class="button">Edit or Cancel an Existing Reservation</a>
    </div>
  </body>
  </html>