<!-- This page creates the UI Mockup for the Client side Reservation pages. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-7">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>Reservation Screen</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css3?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">  
  <link href="../styles/res" rel="stylesheet">
</head>
<body>
  <div class="navbar">
    <a class="brand" href="#">KennelLink Client</a>
    <a href="#reservations">Reservations</a>
    <a href="#pets">Pets</a>
    <a href="#transactions">Transactions</a>
  </div>

  <div class="container">
    <h2>Reservation Screen</h2>
    <a href="#" class="button">Search My Reservations</a>
    <a href="#" class="button">Add a New Reservation</a>
    <a href="#" class="button">Edit or Cancel an Existing Reservation</a>
  </div>
</body>
</html>
