<%- include('../partials/emp-client-head', {title: 'Pets Search', type: 'Employee'}) %>

<body>
  <div class="container">
      <h2>Search Transactions</h2>
      <form action="#" method="post">
        <div class="form-group">
          <label for="client_name">Client Name:</label>
          <input type="text" id="client_name" name="client_name" placeholder="Enter client name">
        </div>
        <div class="form-group">
          <label for="transaction_date">Date of Transaction:</label>
          <input type="text" id="transaction_date" name="transaction_date" placeholder="Enter transaction date">
        </div>
        <div class="form-group">
          <label for="transaction_id">Transaction ID:</label>
          <input type="text" id="transaction_id" name="transaction_id" placeholder="Enter transaction ID">
        </div>
        <button class="button" type="submit">Search</button>
      </form>
    </div>
  </body>
  </html>
  
  