<%- include('../partials/emp-client-head', {title: 'Clients', type: 'Employee'}) %>

<body>
  <!-- <div class="navbar">
    <a class="brand" href="#">KennelLink Employee</a>
    <a href="/emp_reservations">Reservations</a>
    <a href="/emp_clients">Clients</a>
    <a href="/emp_pets">Pets</a>
    <a href="/emp_transactions">Transactions</a>
    <a href="/emp_employees">Other Employees</a>
  </div> -->

  <div class="container">
    <h2>Search - Client Information</h2>

    <!-- <form action="" method="post">
      <button name="emp_clients_search" value="emp_clients_search">Show a list of Client</button>
    </form> -->
    <a class="button" href="/emp_clients_search" method="post">Show a list of Clients</a>
    <!-- <a class="button" href="/emp_clients_search" method="post">Show a list of Clients</a> -->


  </div>
</body>
</html>
