<%- include('../partials/emp-client-head', {title: 'Transactions', type: 'Employee'}) %>

<body>
  <div class="container">
      <h2>Transactions</h2>
      <a class="button" href="/emp_transactions_search">Search Transactions</a>
      <a class="button" href="/emp_transactions_edit">Edit Transactions</a>
    </div>
  </body>
  </html