<%- include('../partials/emp-client-head', {title: 'Reservations', type: 'Employee'}) %>

<body>
  <div class="container">
      <h2>Reservations </h2>
      <a href="/emp_reservation_search" class="button">Search Existing Reservations</a>
      <a href="/emp_reservation_add" class="button">Add a New Reservation</a>
      <a href="/emp_reservation_edit" class="button">Edit or Cancel an Existing Reservation</a>
    </div>
  </body>
  </html>