<%- include('../partials/emp-client-head', {title: 'Other Employees', type: 'Employee'}) %>

<body>
    <div class="container">
      <h2>Other Employees</h2>
      <div class="bulk-search">
        <a class="button" href="/employees_search" method="post">View All Employees' Information</a>
      </div>
    </div>
  </body>
  </html>