<%- include('../partials/emp-client-head', {title: 'Pets', type: 'Employee'}) %>

<body>
    <div class="container">
      <h2>Pets</h2>
      <a class="button" href="/emp_pets_search">Search for Pets</a>
      <a class="button" href="/emp_pets_edit">Edit Pets</a>
    </div>

  </body>
  </html>