<%- include('../partials/emp-client-head', {title: 'Pets', type: 'Employee'}) %>

<body>
    <div class="navbar">
      <a class="brand" href="#">KennelLink Employee</a>
      <a href="/emp_reservations">Reservations</a>
      <a href="/emp_clients">Clients</a>
      <a href="/emp_pets">Pets</a>
      <a href="/emp_transactions">Transactions</a>
      <a href="/emp_employees">Other Employees</a>
    </div>
  
    <div class="container">
      <h2>Pets</h2>
      <a class="button" href="/emp_pets_search">Search for Pets</a>
      <a class="button" href="/emp_pets_edit">Edit Pets</a>
    </div>

  </body>
  </html>