<%- include('../partials/emp-client-head', {title: 'Clients', type: type }) %>

<body>

  <div class="container">
    <h2>Search - Client Information</h2>
    <a class="button" href="/emp_clients_search" method="post">Show a list of Clients</a>
  </div>

</body>
</html>
