<%- include('../partials/signup-login-head', {title: 'Login'}) %>

<body>
    <div class="login-form">
      <h2>Login</h2>
      <span> <%= message %> </span>
      <form action="/login" method="post">
        <select name="user_type">
          <option value="Client">Client</option>
          <option value="Employee">Employee</option>
        </select>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
      </form>
      <span>Don't have an account? Sign up <a href="/signup">here</a></span>
    </div>
    
</body>
</html>