<%- include('../partials/emp-client-head', {title: 'Pets', type: type }) %>


<body>
    <div class="container">
        <h2>Pets</h2>
        <% if(type == 'Client') { %>
            <a class="button" href="/pets_search" method="post">Show Your Pet(s)</a>
            <!-- <a class="button" href="/pets_search?user_type=Employee" method="post">Show Your Pet(s)</a> -->
        <% } else if(type == 'Employee') { %>
            <a class="button" href="/pets_search" method="post">Show a list of All Pets</a>
        <% } else { %>
            
        <% } %>

    </div>
  </body>
  </html>
