<%- include('../partials/signup-login-head', {title: 'Sign Up'}) %>
<body>
    <div class="signup-form">
      <h2>Sign Up</h2>
      <h3>Personal Information</h3>
      <form action="/employeesignup" method="post">
        <input type="text" name="first_name" placeholder="First Name" required>
        <input type="text" name="last_name" placeholder="Last Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="phone" placeholder="Phone Number" required> <!-- Reverted type to "text" -->
        <select name="user_type" id="user_type" onchange="toggleAdditionalBox()">
          <option value="client">Client</option>
          <option value="employee">Employee</option>
        </select>
        <div class="additional-box" id="additional_box">
          <label for="employee_start_date">Employee Start Date:</label>
          <input type="date" name="employee_start_date" id="employee_start_date" required>
          <p id="date-error" class="error-message"></p> <!-- Display error message -->
        </div>
        <h3>Account Information</h3>
        <div class="additional-box" id="account_info_box">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" placeholder="Enter Username">
        </div>
        <div class="additional-box" id="account_info_box">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <button type="submit">Sign Up</button>
      </form>

      <span>Already have an account? Login <a href="/signup">here</a></span>
    </div>
</body>
</html>
