<%- include('../partials/emp-client-head', {title: 'Transactions', type: type }) %>


<body>
    <div class="container">
        <h2>Transactions</h2>
        <% if(type == 'Client') { %>
            <a class="button" href="/transactions_search" method="post">Show Your Transaction(s)</a>
            
        <% } else if(type == 'Employee') { %>
            <a class="button" href="/transactions_search" method="post">Show a list of All Transactions</a>
            <a class="button" href="#" method="post">Add a New Transaction</a>
        <% } else { %>
            
        <% } %>

    </div>
  </body>
  </html>