body {
margin: 0;
font-family: 'Urbanist', sans-serif;
background-color: #40826d; /* Viridian green */
padding: 20px;
}

.navbar {
background-color: #fff; /* White navbar */
overflow: hidden;
border-radius: 10px; /* Rounded corners */
margin-bottom: 20px; /* Added margin bottom for better spacing */
}

.navbar a {
float: left;
display: block;
color: #333; /* Dark gray text */
text-align: center;
padding: 14px 16px;
text-decoration: none;
border-radius: 10px; /* Rounded corners */
}

.navbar a:hover {
background-color: #ddd; /* Light gray on hover */
color: #333; /* Dark gray text */
}

.container {
max-width: 600px;
margin: 0 auto;
padding: 20px;
background-color: #fff; /* White box background */
border-radius: 10px; /* Rounded corners */
text-align: center;
}

.form-group {
margin-bottom: 20px;
text-align: left;
}

.form-group label {
display: block;
margin-bottom: 5px;
}

.form-group input[type="text"] {
width: calc(100% - 10px);
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
}

.button {
display: block;
width: 100%;
padding: 10px 0;
background-color: #3498db; /* Blue button */
color: #fff; /* White text */
border: none;
border-radius: 5px;
text-decoration: none;
cursor: pointer;
}

.button:hover {
background-color: #2980b9; /* Darker shade of blue on hover */
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black; /* Border color is black */
    background-color: #fff; /* Background color */
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Alternating row colors */
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Hover effect */
  .table tbody tr:hover {
    background-color: #ddd;
  }
  
  /* Center align the "Edit" link */
  .table td:last-child {
    text-align: center;
  }